{% load i18n %}
//repo-create-form
$('#repo-create')
.click(function() {
    $('#repo-create-form').modal({appendTo: '#main', autoResize: true});
})
.hover(
    function() {
        $(this).css({'background-color': '#fff', 'cursor': 'pointer'});
    },
    function() {
        $(this).css('background-color', '#f5f5f5');
    }
);
$('#encrypt-switch').click(function () {
    var form = $('#repo-create-form'),
        pwd_input = $('input[type="password"]', form);
    
    if ($(this).attr('checked')) {
        pwd_input.attr('disabled', false).removeClass('input-disabled');
    } else {
        pwd_input.attr('disabled', true).addClass('input-disabled');
    }
});
$('#repo-create-form').submit(function() {
    var form = $(this), 
        form_id = form.attr('id'),
        name = $('#repo-name').val(),
        desc = $('#repo-desc').val(),
        encrypted = $('#encrypt-switch').attr('checked'),
        passwd, passwd_again;

    if (!$.trim(name)) {
        apply_form_error(form_id, "{% trans "Name is required" %}");
        return false;
    }
    if (!$.trim(desc)) {
        apply_form_error(form_id, "{% trans "Description is required" %}");
        return false;
    }
    if (encrypted) {
        passwd = $('input[name="passwd"]', form).val();
        passwd_again = $('input[name="passwd_again"]', form).val();

        if (!$.trim(passwd)) {
            apply_form_error(form_id, "{% trans "Please enter password" %}");
            return false;
        }
        if ($.trim(passwd).length < 3) {
            apply_form_error(form_id, "{% trans "Password is too short (minimum is 3 characters)" %}");
            return false;
        }
        if ($.trim(passwd).length > 30) {
            apply_form_error(form_id, "{% trans "Password is too long (maximum is 30 characters)" %}");
            return false;
        }
        if (!$.trim(passwd_again)) {
            apply_form_error(form_id, "{% trans "Please enter the password again" %}");
            return false;
        }
        if ($.trim(passwd) != $.trim(passwd_again)) {
            apply_form_error(form_id, "{% trans "Passwords don't match" %}");
            return false;
        }

        {% if not keep_enc_repo_passwd %}
        // don't send the password to the server
        var salt = [0xda, 0x90, 0x45, 0xc3, 0x06, 0xc7, 0xcc, 0x26];
        var magic_seed = passwd + uuid.v4();
        var magic_array = sjcl.misc.pbkdf2(magic_seed, salt, 1000, 32*8, null); // 32 bytes
        var magic_str = sjcl.codec.hex.fromBits(magic_array);

        var secret_key, secret_array;
        if (window.crypto && window.crypto.getRandomValues) {
            secret_array = new Uint8Array(32); // 32 bytes
            window.crypto.getRandomValues(secret_array);
        } else {
            secret_array = [];
            for (var i = 0; i < 32; i++) {
                secret_array.push(parseInt(Math.random() * 255));
            }
        }

        var key_array = sjcl.misc.pbkdf2(passwd, salt, 1000, 32*8, null);
        var iv_array = sjcl.misc.pbkdf2(key_array, salt, 10, 32*8, null);

        var random_key_obj = CryptoJS.AES.encrypt(CryptoJS.lib.WordArray.create(secret_array), CryptoJS.lib.WordArray.create(key_array), {iv: CryptoJS.lib.WordArray.create(iv_array)});
        var random_key = random_key_obj.ciphertext.toString(CryptoJS.enc.Hex); // convert to hex
        {% endif %}
    }

    var submit_btn = $('input[type="submit"]', form);
    disable(submit_btn);

    var post_data = {
        'repo_name': name,
        'repo_desc': desc,
        'encryption': encrypted ? 1 : 0
    };
    {% if create_shared_repo %}
    $.extend(post_data, {
        'permission': $('select[name="permission"]', form).val()
    });
    {% endif %}

    if (encrypted) {
        {% if keep_enc_repo_passwd %}
        $.extend(post_data, {
            'passwd': passwd,
            'passwd_again': passwd_again
        });
        {% else %}
        $.extend(post_data, {
            'magic_str': magic_str,
            'random_key': random_key
        });
        {% endif %}
    }

    $.ajax({
        url: '{{ post_url }}',
        type: 'POST',
        dataType: 'json',
        beforeSend: prepareCSRFToken,
        data: post_data,
        success: function(data) {
            if (data['success']) {
                location.reload(true);
            } else {
                apply_form_error(form_id, data['error']);
                enable(submit_btn);
            }
        },
        error: function(data, textStatus, jqXHR) {
            var errors = $.parseJSON(data.responseText);
            $.each(errors, function(index, value) {
                apply_form_error(form_id, value[0]);
            });
            enable(submit_btn);
        }
    });

    return false;
});
