<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>key test - Private Seafile</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<style type="text/css">
body {
    margin-top:10em;
}
p {
    text-align:center;
    margin:1em 0;
}
</style>
</head>

<body>
<script type="text/javascript" src="../../media/js/CryptoJS/rollups/pbkdf2.js"></script>
<script type="text/javascript" src="../../media/js/sjcl.min.js"></script>
<script type="text/javascript">
//var salt = [0xda, 0x90, 0x45, 0xc3, 0x06, 0xc7, 0xcc, 0x26];
var salt = [0xda9045c3, 0x06c7cc26]
var uu_id = '887d4857-c63e-4100-91fe-20b245958386';
var passwd = '111';
var magic_array = sjcl.misc.pbkdf2(uu_id + passwd, salt, 1000, 32*8, null); // 32 bytes
var magic_str = sjcl.codec.hex.fromBits(magic_array);
console.log(magic_str);
</script>
</body>
</html>
